.full-container {
  min-height: 100vh;
  width: 95%;
  margin: auto;
}

.center {
  align-items: center;
  justify-content: center;
}


.card-container {
 display: flex;
  height: max-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  min-height: 400px;
  margin: 5px;
}

.w-95-percent  {
    width: 95%;
}
