@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tw-bg-opacity: 1;
  /*background-color: rgba(243, 244, 246, var(--tw-bg-opacity));*/
  background-color: #1c191c;
  color: #acacac;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
